
<main class="container col-md-9">
    <!-- Grid -->
    
<div class="w3-row">
  <!-- Blog entries -->
<% @posts.each do |post| %>             <!-- her-->  
  <div class="w3-col l8 s12">
    <!-- Blog entry -->
    <div class="w3-card-4 w3-margin w3-white">
      <%= image_tag post.image_url%>        <!-- her-->
      <div class="w3-container">
        <h2><b><%= post.title %></b></h3>    <!-- her-->
        <h7><span class="w3-opacity"><%= post.created_at%></td></span></h5>    <!-- her-->
      </div>
  
      <div class="w3-container">
        <p><td><%= post.content %></td></p>   <!-- her-->
        <div class="w3-row">
          <div class="w3-col m8 s12">
            <p><button class="w3-button w3-padding-large w3-white w3-border"><b><%= link_to 'Show', post_path(post) %> »</b></button></p>  <!-- her-->
          </div>
          <div class="w3-col m4 w3-hide-small">
            <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <% end %>
  <hr> 

  <!-- Introduction menu My Name -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="./image/avatar_g.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>My Name</b></h4>
      <p>Just me</p>

      <!-- Contact -->
        <p>Let us book your next trip!</p>
        <i class="fa fa-map-marker"  style="width:30px; color: brown"; ></i> Ha Noi - Viet Nam<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +964979447<br>
        <i class="fa fa-envelope" style="width:30px; "> </i> Email: sylongtd@gmail.com<br>
      </div>
  </div><hr>
</main>

