<!-- Grid -->
<main class="container col-md-9">
<div class="w3-row">
<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <% @posts.each do |post| %>             <!-- her-->  
  <div class="w3-card-4 w3-margin w3-white">
    <%= image_tag post.image_url.to_s%>        <!-- her-->    
    <div class="w3-container">
      <h3><b><%= post.title %></b></h3>
      <h5>Title description <span class="w3-opacity"><%= post.created_at.to_time.strftime("%Y-%m-%d") %></span></h5>
      <p class="badge badge-primary">#<%=post.all_tags %></p>
    </div>

    <div class="w3-container">
      <p><%= post.sumary.truncate(85) %></p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b><%= link_to 'Read more', post_path(post) %> ...</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b> Comments</b> <span class="w3-tag"><%= post.comments.count %></span></span></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <hr>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
  
  </div>
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
    <div class="w3-container w3-white">
    <img class="mx-auto rounded-circle img-fluid" src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-9/12075023_564673083680913_2964526608096181537_n.jpg?_nc_cat=0&_nc_eui2=AeG0U_m5SsS9IP4X3SZlkgtkKnUJTvB2zD1Kg7oE5bkGgiQ3njUws_peJcNNqFzteYMYj6070BemeDljMmO10J27VWPEHfm1pCDFIO3gMju1Mg&oh=27efda4f98c2b359d12f9864a97cdc79&oe=5BA36E23" alt="avatar">
      <h4><b>Lê Sỹ Long</b></h4>
      <i class="fa fa-map-marker"  style="width:30px; color: brown"; ></i> Ha Noi - Viet Nam<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +964979447<br>
        <i class="fa fa-envelope" style="width:30px; "> </i> Email: sylongtd@gmail.com<br>
    </div>
  </div><hr>
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding bg-info text-light">
      <h4>Popular Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
      <% @posts.each do |post| %>             <!-- her--> 
        <%= image_tag post.image_url.to_s%>
        <div class="w3-container">
          <span><%= post.title.truncate(20) %></span>
        </div>
      <% end %>
      </li>
       
    </ul>
  </div>
  <hr> 
 
  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding bg-secondary text-light">
      <h4>#Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> 
    <% @posts.each do |post| %>
      &nbsp;<span class="badge badge-info"><%=post.all_tags %></span> 
    <% end %>
    </p>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>
</main>