<br>
<body>

    <!-- Page Content -->
    <div class="container ">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8 bg-light">

          <!-- Title -->
          <h1 class="mt-4 text-muted"><%= @post.title %></h1>

          <hr>

          <!-- Date/Time -->
          <p><%= @post.created_at.to_time.strftime("%Y-%m-%d") %></p>

          <hr>

          <!-- Preview Image -->
          <%= image_tag @post.image_url.to_s%>

          <hr>

          <!-- Post Content -->
          <p class="lead"><%= raw @post.content %></p>

          
          <hr>
            <br>
            &nbsp&nbsp<p><%= @post.comments.count %> Comments</p>
                <%= render @post.comments %>
                <h3>Add a comment:</h3>
                <%= render 'comments/form'%>
            <br>
          
          <!-- Comment with nested comments -->
          <div class="media mb-4">
            <div class="media-body">

            </div>
          </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">#Tags</h5>
            <div class="card-body">
              #<%= @post.all_tags %>
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
</div>

&nbsp;&nbsp;&nbsp; <%= link_to "Back", posts_path %> &nbsp;&nbsp;&nbsp;
<%= link_to "Edit Post", edit_post_path(@post) %> &nbsp;&nbsp;&nbsp;
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure"}%>
</body>