<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlog</title>
    <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>body {background-color: #DCDCDC;}</style>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar justify-content-center bg-light navbar-expand-sm navbar-dark sticky-top">
    <div class="container">
        <a class="navbar-brand text-dark" href="#">Logo.Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-dark" href="#">Blog<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Abount</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Contact</a>
            </li>
          </ul>
          
          <div class="form-inline my-2 my-md-0">
                <a href="#"><i class="fa fa-github" style="font-size:30px;color:black"></i></a>
            &nbsp;&nbsp;
                <a href="#"><i class="fa fa-instagram" style="font-size:30px;color:black"></i></a>
            &nbsp;&nbsp;
            <div class="btn-group">
                <button type="button" class="btn btn-danger">Info</button>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                </button>
                <div class="dropdown-menu">
                  
                  <% if user_signed_in? %>
                  <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
                  <%= link_to 'Add', new_post_path %>
  
                  <% else %>
                  <li><%= link_to('Login', new_user_session_path)  %></li>
                  <% end %>
                  
                </div>
            </div>
        </div>
        </div>
      </div>
</nav>
  <body>
    <%= yield %>
  </body>
  <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <div>
      <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
      <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
      <p>© 2018 | Design & Developer by Le Sy Long <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"></a></p>
  </div>
</footer>
</html>